section.about-us {
    background: $bg-third;
    color: $text-primary;
    display: flex;
    justify-content: center;
    align-items: center;

    .description {
        width: 100%;
        height: 100%;
        font-size: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 100%;
    }
}