$color-primary: #ffc400;
$color-secondary: #000000;

$bg-primary: #000000;
$bg-secondary: #ffc400;
$bg-third: #262626;


$text-primary: rgb(220, 220, 220);
$text-secondary: #808080;
$text-third: #ffc400;